<div class="md:grid md:grid-cols-3 md:gap-6 mt-16">
  <div class="md:col-span-1">
    <div class="px-4 sm:px-0">
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        Profile
      </h3>
      <p class="mt-1 text-sm text-gray-600">
        tell us a bit about yourself and your interests.
      </p>
    </div>
  </div>
  <div class="mt-5 md:col-span-2 md:mt-0">
    <%= form_with url: "/cats", method: :post do |form| %>
      <div class="shadow sm:overflow-hidden sm:rounded-md">
        <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
          <div class="grid md:grid-cols-2 gap-6">
            <div class="md:col-span-1">
              <%= form.label :name, "First name:", class: "block text-sm font-medium text-gray-700" %>
              <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
            <div>
              <%= form.label :last_name, "Last name:", class: "block text-sm font-medium text-gray-700" %>
              <%= form.text_field :last_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>
          <div class="w-full">
            <%= form.label :email, "Email address:", class: "block text-sm font-medium text-gray-700" %>
            <%= form.email_field :email, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", autocomplete: "email" %>
          </div>
          <div class="w-full">
            <%= form.label :phone, "Phone:", class: "block text-sm font-medium text-gray-700" %>
            <%= form.telephone_field :phone, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", autocomplete: "695272918" %>
          </div>
          <fieldset>
            <legend class="text-sm font-medium text-gray-700">
              Sentimental status
            </legend>
            <p class="text-sm text-gray-500 mt-2">
              What are you currently looking for?
            </p>
            <div class="mt-4 space-y-4">
              <%= form.select :status, options_for_select(Cat.statuses.keys.map{ |key| [key.humanize, key] }, selected: 'single'), {}, { :class => 'rounded-md border-gray-300 text-indigo-600 focus:ring-indigo-500' } %>
            </div>
          </fieldset>

          <div>
            <label class="block text-sm font-medium text-gray-700">Cover photo</label>
            <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                  <label for="avatar" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                    <span>Upload a file</span>
                    <%= form.file_field :avatar %>
                  </label>
                </div>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <%= form.submit "Save", class: "inline-flex justify-center rounded-md border border-transparent bg-violet-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>